
.brand-div {
	height: 10vh;
	width: 200px;
	border-bottom: 1px solid #333;
	margin-bottom: 20px;
	background-color: #222;
}
.brand-div:hover {
	cursor: pointer;
}
.brand {
	font-family: 'Cutive Mono';
	font-size: 1.7em;
	color: #000;
	text-align: center;
	line-height: 2.7em;
	margin-left: 2.7vw;
	letter-spacing: 5px;
}
.panel-div {
	height: 5vh;
	width: 200px;
	//border: 1px solid #333;
	padding-left: 3.5vw;
	background-color: #111;
}
.panel-div:hover {
	background-color: #000;
	cursor: pointer;
	.panel-lbl {
		color: #999;
		letter-spacing: 1px;
		transition: all .13s ease-in;
	}
}
.panel-lbl {
	font-family: 'Open Sans';
	font-weight: 600;
	font-size: 1em;
	line-height: 2.3em;
	color: #777;
}
.side-icons {
	font-size: 1.1em;
	margin-right: 4px;
} 
.ion-person-stalker {
	color: rgba(98,154,169, 0.7 );
}
.ion-ios-folder {
	color: rgba(6,47,60, 1 );	
}
.ion-erlenmeyer-flask {
	color: rgba(0,167,142, 0.6 );
}
.ion-calendar {
	color: rgba(138,121,103, 0.7 );
}
.ion-pound {
	color: rgba(0,167,142, 0.6 );
}