template(name="sidebar")
	div.container
		div.brand-div
			span.brand BINDER
		div.panel-div#peers
			i.ion-person-stalker.side-icons
			span.panel-lbl PEERS
		div.panel-div#classes
			i.ion-ios-folder.side-icons
			span.panel-lbl CLASSES
		div.panel-div#projects
			i.ion-erlenmeyer-flask.side-icons
			span.panel-lbl PROJECTS
		div.panel-div#schedule
			i.ion-calendar.side-icons
			span.panel-lbl SCHEDULE
		div.panel-div#events
			i.ion-pound.side-icons
			span.panel-lbl EVENTS

