template(name="sidebar")
	div.container
		div.brand-div
			span.brand BINDER
		+each sideBarPanel
			+each panel
				div(id="#{name}").panel-div
					i(class="#{icon}")
					span.panel-lbl {{title}}
		
