template(name="sidebar")
	div.container
		div.brand-div#test-div
			span.brand BINDER
		+each sideBarPanel
			+each panel
				div(id="#{name}").panel-div
					i(class="#{icon}")
					span(id="#{name}").panel-lbl #{title}
		
