.gen-body
	border: 1px solid red
	height: 90vh
	width: 85vw
	margin-left: 200px
	position: fixed
	padding: 20px
	
.items-peers
	border: 1px solid green
	text-align: center
	margin-right: 20px
	float: left
	width: 60px
	height: 60px
